<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <center>
    <div class="todo">
        <div class="To-do-task-main">
            <form>
               <input id ="task" placeholder="Title" name="todo"/>
               <button type="submit" onclick=addTask()>Add Task</button>
            </form>
        </div>
    </div>
    <hr/>
        <h1>Task to Do </h1>
    <hr/>
    <div class="show-todo">
        <p id="title">Title</p>
    </div>
    </center>
    <script>
        const addTask = () =>{
            
           
        }
    </script>
    </body>
    
</html>